/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
:root{
    --COLORE-TESTO-1: #ffffff;

    --COLORE-TESTO-2: #000000;

    --COLORE-TESTO-3: #e6e6e6;

    --COLORE-TESTO-4: #bccf05;

    --COLORE-TESTO-5: #ff13a0;

    --COLORE-SFONDO-1: rgba(0, 0, 0, 0.7);

    --COLORE-SFONDO-2: #161617; }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
body { 
    margin: 0;

    padding: 0;

    display: flex;

    flex-direction: column;

    min-height: 100vh; }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
  /* 
  footer {
    position: relative;
    margin-top: 100px; 
    padding: 10px; 
    text-align: center;    
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1;
    color: var(--COLORE-TESTO-2);
  }
   */
  /* DISPOSITIVI DI LARGHEZZA MINORE, COME TELEFONI */
  /* @media (max-width: 767px) {footer p {font-size: 0.6em;}} */
  /* DISPOSITIVI DI LARGHEZZA MEDIA, COME TABLET */
  /* @media (min-width: 768px) and (max-width: 1023px) {footer p {font-size: 0.7em;}} */
  /* DISPOSITIVI DI LARGHEZZA PIÙ GRANDE, COME PC PORTATILI E MONITOR */
  /* @media (min-width: 1024px) {footer p {font-size: 0.8em;}} */
  
  
/* BARRA DI NAVIGAZIONE - BARRA DI NAVIGAZIONE - BARRA DI NAVIGAZIONE - BARRA DI NAVIGAZIONE */
.header-001 { 
    display: flex;     

    align-items: center; 

    justify-content: space-around;  

    position: fixed;        

    width: 100%;

    height: 46px;
    
    z-index: 2; }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */ 
.nav-001 .ul-001 { 
    list-style-type: none;     

    padding: 0;        

    margin: 0;           

    display: flex;          

    align-items: center;      

    justify-content: center; }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.nav-001 .li-001 {
    display: inline-block;    

    margin-right: 0;        
    
    font-size: 14px;       

    font-weight: 400;     

    letter-spacing: -.01em;   

    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;

    line-height: 1; }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.li-001 .a-001 { 
    text-decoration: none;        

    color: var(--COLORE-TESTO-1);}
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.li-001 .a-001 i {
    transition: opacity 0.7s ease; }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.ul-001 .li-001:nth-child(-n+2), .ul-001 .li-001:nth-last-child(-n+3) { 
    padding-left: 20px;

    padding-right: 20px; }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.ul-001 .li-001:not(:nth-child(-n+2)):not(:nth-last-child(-n+3)) .a-001 { 
    padding-left: 30px;  

    padding-right: 30px;  

    padding-top: 15px;             
   
    padding-bottom: 15px; }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.nav-001 .ul-001 .li-001:not(:nth-child(-n+2)):not(:nth-last-child(-n+2)) .a-001:hover {   
    color: var(--COLORE-TESTO-3); }
  /* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.nav-001{ 
    display: flex;
    
    width: 100vw; 
   
    height: 100%;
    
    background-color: var(--COLORE-SFONDO-1);
  
    color: var(--COLORE-TESTO-1);
   
    align-items: center;
  
    justify-content: space-around;
  
    transition: background-color 0.7s ease;}
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.nav-002 {

    position: fixed;

    top: 44px;

    left: 0;

    width: 100%;

    height: 100%;

    background-color: var(--COLORE-SFONDO-2);

    display: none; 

    padding: 0;

    margin: 0; 

    opacity: 0;

    transition: opacity 0.7s ease;}
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.ul-001 li:last-child{
    display: none; }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.a-003{
    display: none; }    
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
@media (max-width: 1023px) {
    /* OOOOOOOOOOOOOOOOOOO */ 
    .a-003 {
      display: block;}
    /* OOOOOOOOOOOOOOOOOOO */ 
    .ul-001 li:last-child{
      display: block; }
    /* OOOOOOOOOOOOOOOOOOO */ 
    .a-003 i{
      position: absolute;

      right: 30px; }
    /* OOOOOOOOOOOOOOOOOOO */ 
    .nav-001 .ul-001 .li-001:not(:nth-child(-n+2)):not(:nth-last-child(-n+3)) .a-001 {
      display: none; }
    /* OOOOOOOOOOOOOOOOOOO */ 
    .nav-002 {        
      display: none; } 
    /* OOOOOOOOOOOOOOOOOOO */ 
    .nav-001 .ul-001 .li-001:nth-child(1) .a-001 i {
      position: absolute;

      left: 30px; }
    /* OOOOOOOOOOOOOOOOOOO */ 
    .nav-001 .ul-001 .li-001:nth-child(2) .a-001 i {
      position: absolute;

      left: 90px; }
    /* OOOOOOOOOOOOOOOOOOO */ 
    .nav-001 .ul-001 .li-001:nth-last-child(3) .a-001 i {
      position: absolute;

      left: 150px; }
    /* OOOOOOOOOOOOOOOOOOO */ 
    .nav-001 .ul-001 .li-001:nth-last-child(2) .a-001 i {
      position: absolute;

      left: 210px; } }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.nav-001.open{
    background-color: var(--COLORE-SFONDO-2);

    opacity: 1; }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.nav-002.open {
    display: block;

    position: absolute;

    background-color: var(--COLORE-SFONDO-2);   

    width: 100%;

    top: 96%;

    height: 100vh; 

    opacity: 1;}
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.nav-002:not(.open) { display: none; }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.a-003 i { transition: transform 0.7s ease; }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
@keyframes slideIn {
    from {
    transform: translateY(100%); }
    to {
    transform: translateY(0); } }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
@keyframes slideOut {
    from {
    transform: translateY(0); }
    to {
    transform: translateY(100%); } }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.ul-002{
    margin-top: 5px;

    list-style-type: none;

    display: block;

    padding: 0; }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.ul-002 .li-002{
    margin: 0;

    width: 100%;

    display: block;

    font-size: 28px;

    line-height: 1;

    font-weight: 600;

    letter-spacing: .004em;

    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif; }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.li-002 .a-002 {
    position: relative;

    display: flex;

    align-items: center;

    text-decoration: none;

    color: var(--COLORE-TESTO-1);

    width: 100%;

    margin-top: 10px;

    padding: 9px 0;

    margin: 0;

    opacity: 0;

    transition: opacity 0.7s ease; }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.a-002.show { animation: fadeIn 0.5s ease forwards; }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
@keyframes fadeIn { 
    from { opacity: 0; }
    to { opacity: 1; } }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.li-002 .a-002 i {
    position: absolute;

    right: 30px;

    opacity: 0;

    transition: opacity 0.4s ease; }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.li-002 .a-002 span { margin-left: 30px; }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.li-002 .a-002 span:hover { color: var(--COLORE-TESTO-3); }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.li-002 .a-002:hover i { opacity: 1; }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
/* BARRA DI NAVIGAZIONE - BARRA DI NAVIGAZIONE - BARRA DI NAVIGAZIONE - BARRA DI NAVIGAZIONE */
    
    
    
    
    
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.section-001 { position: relative; }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.div-001 img {
    width: 100%;
    
    height: 100vh;
    
    display: block; 

    filter: brightness(0.8); 
    object-fit: cover;}
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.div-002 {
    position: absolute;
    
    top: 30%;
    
    left: 50%;
    
    transform: translate(-50%, -30%);
    
    text-align: center; }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.div-003 {
    width: 100vw;
   
    position: absolute;
    
    top: 50%;
    
    left: 50%;
    
    transform: translate(-50%, -50%);
    
    text-align: center; }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.div-003 a {
    width: 100%;
    
    text-decoration: none;
    
    margin: 10px 35px;
    
    color: #ffffff;
    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
/* PER FINESTRE CON LARGHEZZA MASSIMA DI 410PX */
@media (max-width: 410px) {
    .div-002 img {
        width: 300px; } }
/* PER FINESTRE CON LARGHEZZA MINIMA DI 411PX E MASSIMA DI 510PX */
@media (min-width: 411px) and (max-width: 510px) {
    .div-002 img {
        width: 400px; } }
/* PER FINESTRE CON LARGHEZZA MINIMA DI 511PX E MASSIMA DI 767PX */
@media (min-width: 511px) and (max-width: 767px) {
    .div-002 img {
        width: 450px; } }
/* PER FINESTRE CON LARGHEZZA MINIMA DI 768PX E MASSIMA DI 1023PX */
@media (min-width: 768px) and (max-width: 1023px) {
    .div-002 img {
        width: 650px; } }
/* PER FINESTRE CON LARGHEZZA MINIMA DI 1024PX */
@media (min-width: 1024px) {
    .div-002 img {
        width: 800px; } }
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
/* PER FINESTRE CON LARGHEZZA MASSIMA DI 410PX */
@media (max-width: 410px) {
    .div-003 a {
        font-size: 0.6em; } 
    .div-003 {
        top: 38%; } }
/* PER FINESTRE CON LARGHEZZA MINIMA DI 411PX E MASSIMA DI 510PX */
@media (min-width: 411px) and (max-width: 510px) {
    .div-003 a {
        font-size: 0.8em; } 
    .div-003 {
        top: 40%; } }
/* PER FINESTRE CON LARGHEZZA MINIMA DI 511PX E MASSIMA DI 767PX */
@media (min-width: 511px) and (max-width: 767px) {
    .div-003 a {
        font-size: 1em; } 
    .div-003 {
        top: 42.5%; } }
/* PER FINESTRE CON LARGHEZZA MINIMA DI 768PX E MASSIMA DI 1023PX */
@media (min-width: 768px) and (max-width: 1023px) {
    .div-003 a {
        font-size: 1.5em; } }
/* PER FINESTRE CON LARGHEZZA MINIMA DI 1024PX */
@media (min-width: 1024px) {
    .div-003 a {
        font-size: 2em; } 
    .div-003 {
        top: 60%; } }



