body {

    box-sizing: border-box;

    margin: 0;

    background-color: #0d0d0d;

    color: #ffffff;

    font-size: 14px;      

    font-weight: 400;  

    letter-spacing: 1px;               

    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif; 

    line-height: 1;

    overflow-x: hidden;

}

*,*:before, *:after {

    box-sizing: border-box;

}
/* ----------- NAVBAR ----------- */
.nav-bar {

    position: fixed;

    top: 0;

    width: 100%;

    z-index: 1;

}

.section-nav {

    background-color: #0e0e0ef3;

    box-shadow: 3px 3px 6px 0 #ffffff29;

    width: 100%;

    padding: 10px;

    overflow: hidden;

    height: 53px;

}

.logo-link-nav, .menu-link-nav  {

    text-align: center;

    text-decoration: none;

    color: #ffffff;

    cursor: pointer;

    display: inline-block;

    padding: 10px 10px;

}

.menu-link-nav:nth-last-child(1) {

    display: none;

}

.img-nav {

    position: absolute;

    width: 90px;

    height: auto;

    top: -17px;

}

.b-nav {

    position: absolute;

    left: 120px;

}
.aside-nav {

    float: right;

}

@media (max-width:866px) {

    .menu-link-nav:not(:nth-last-child(1)) {

        display: none;

    }

    .menu-link-nav:nth-last-child(1) {

        display: block;
    
    }

    .b-nav {
        display: none;
    }
    
}

/* ----------- NAVBAR ----------- */

/* ----------- HEADER ----------- */
.header {

    display: block;

    position: relative;

    margin-left: auto;

    margin-right: auto;

    margin-bottom: 16px;

    max-width: 1500px;

    overflow: hidden;

}

.img-header{

    max-width: 100%;

    height: auto;

    top: auto;

    transition: transform 0.5s; 

}

.img-header-2{

    max-width: 100%;

    height: auto;

    top: auto;

    transition: transform 0.5s; 

}

.img-header-section {

    position: absolute;

    top: 40%;

    left: 5%;

    width: 50%;

    cursor: pointer;

    opacity: 1;

    transition: opacity 0.5s;

}

.img-header-section-2 {

    position: absolute;

    top: 40%;

    right: 5%;

    width: 50%;

    cursor: pointer;

    opacity: 0; 

    transition: opacity 0.5s;

}

#background-image-2 {

    position: absolute;

    top: 0;

    left: 0;

    transform: translate(100%, 0); 
    
}

/* ----------- HEADER ----------- */

/* ------ CONTENUTO PAGINA ------ */
.main {

    max-width: 1500px;

}
/* ------ CONTENUTO PAGINA ------ */

/* ----- SEZIONE ALLEVAMENTO ---- */

.section-allevamento-1 {

    padding-top: 0;

    padding-bottom: 20px;

}

.div-container-allevamento {

    display: flex;

    width: 1500px;

}

.section-allevamento-2 {
    
    width: 100vw;

    display: flex;

    justify-content: center;

}

.section-allevamento-3 {

    float: left;

    width: 100%;

    margin-bottom: 20px;

}

.section-allevamento-3:first-child {

    padding-left: 16px;

    padding-right: 8px;

}

.section-allevamento-3:last-child {

    padding-right: 16px;

    padding-left: 8px;

}

@media (min-width:993px) {

    .section-allevamento-3 {
        width: 50%;
    }
}

.section-allevamento-img {

    border-style: none;

    vertical-align: middle;
    
    width: 100%;

}

.h4-allevamento-1 {

    font-size: 1.5vw;

    line-height: 1.125;

    font-weight: 600;

    letter-spacing: .002em;

    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

    margin-top: -3.5%;

    margin-left:0;

    color: #bccf05;

    background-color:#0e0e0eb6;

    position: relative;

    z-index: 1;

    padding: 0 3px;

}

.h4-allevamento-2 {

    font-size: 1.5vw;

    line-height: 1.125;

    font-weight: 600;

    letter-spacing: .002em;

    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

    margin-top: -3.5%;

    margin-left:0;

    color: #e216b8;

    background-color:#0e0e0eb6;

    position: relative;

    z-index: 1;

    padding: 0 3px;

}

@media (min-width: 1500px) {

    .h4-allevamento-1, .h4-allevamento-2  {

        font-size: 22.5px;
        
    }

}

.a-allevamento {

    padding: 0 3px;

    text-decoration: none;

    color: #ffffff;

}

.a-allevamento i{

    vertical-align: middle;

}

/* ----- SEZIONE ALLEVAMENTO ---- */

/* ----------- FOOTER ----------- */
.footer {

    display: block;

    text-align: center;

    padding: 20px 0 20px 0;

    border-top: 1px solid #ffffff10;
    
}

/* ----------- FOOTER ----------- */


