.section-container-attività{
  width: 100vw;
}
#slider-container {
  width: 100%;
  max-width: 700px;
  display: flex;
  overflow: hidden;
  position: relative;
margin: auto;
}
@media (max-width: 700px) {

  #slider-container {

    width: 98%;
      
  }

}
@media (min-width: 1500px) {

  #slider-container {

    margin-top: 0.7%;

    left: auto;

    right: auto;
      
  }

}

#slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  touch-action: pan-y; /* Abilita lo scorrimento solo in verticale */

}

.slide {
  min-width: 100%;

}

.slide img {
  width: 100%;
  height: auto;
}

#dots-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  margin: 0 auto; /* Add this line to center horizontally */
}

.dot {
  width: 7px;
  height: 7px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}

