.SECTION-ATTIVITÀ {

    POSITION: RELATIVE;

    WIDTH: 100VW;

    HEIGHT: 100VH;

    DISPLAY: FLEX;

    JUSTIFY-CONTENT: CENTER;

    MARGIN-TOP: 15px;

}

.ASIDE-ATTIVITÀ {

    DISPLAY: FLEX;
 
    JUSTIFY-CONTENT: CENTER;

    MAX-WIDTH: 2000PX;

}

.HEADER-ATTIVITÀ {

    JUSTIFY-CONTENT: CENTER;

    WIDTH: 100%;

}

.DIV-ATTIVITÀ {

    JUSTIFY-CONTENT: CENTER;

    WIDTH: 100%;

}

.SLIDER {

    OPACITY: 0;

    DISPLAY: NONE; 

    POSITION: ABSOLUTE;

    TRANSITION: OPACITY 0.5S EASE-IN-OUT;

}

.SLIDER.active {

    OPACITY: 1;

    DISPLAY: BLOCK;

    POSITION: RELATIVE;

}

@keyframes fadeIn {

    from {

        opacity: 0.7;

    }

    to {

        opacity: 1;

    }

}

.SLIDER.active {

    animation: fadeIn 0.5s ease-in-out;

}

.IMG-ATTIVITÀ {

    MAX-WIDTH: 2000PX;

    WIDTH: 100vw;

    HEIGHT: 100VH;

    OBJECT-FIT: COVER;

}

@media (max-width: 800px) {
    .SECTION-ATTIVITÀ {
        HEIGHT: 50VH;
    }

    .IMG-ATTIVITÀ {
        HEIGHT: 50VH;
        margin-top: -52.5px;
    }
}

.H1-ATTIVITÀ {

    width: 100%;

    TEXT-ALIGN: CENTER;

    FONT-SIZE: 50PX;

    COLOR: #bccf05;

    POSITION: ABSOLUTE;

    LEFT: 50%;

    TOP: 24%;

    TRANSFORM: TRANSLATE(-50%, -50%);

    TEXT-SHADOW: 2PX 2PX 4PX RGBA(0, 0, 0, 0.5);

}

@media (max-width: 500px) {

    .H1-ATTIVITÀ
 {

        top: 5%;

        font-size: 37PX;

    }

}

.H2-ATTIVITÀ {

    width: 100%;

    TEXT-ALIGN: CENTER;

    FONT-SIZE: LARGE;

    COLOR: #0966FF;

    POSITION: ABSOLUTE;

    LEFT: 50%;

    TOP: 36%;

    TRANSFORM: TRANSLATE(-50%, -50%);

    TEXT-SHADOW: 2PX 2PX 4PX RGBA(0, 0, 0, 0.5);

}

@media (max-width: 500px) {

    .H2-ATTIVITÀ
 {

        TOP: 25%;

    }

}

.H2-ATTIVITÀ I {

    VERTICAL-ALIGN: MIDDLE;
    
}