.section-contatti {
    
    width: 100vw;

    display: flex;

    justify-content: center;

    margin-bottom: 3%;

}

.div-container-contatti {

    display: flex;

    width: 1500px;

}

.aside-contatti{

    padding-left: 1%;

    padding-right: 0.5%;

    width: 100%;

}

.h2-contatti {

    text-align: left;

    font-size: 3vw;

    line-height: 1.125;

    font-weight: 600;

    letter-spacing: .002em;

    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

    position: relative;

    margin-left: 1%;

    margin-bottom: 1%;

    margin-top: 1%;

    color: #bccf05;

}

.form-contatti {
    border: 1px solid #bccf05;
    border-radius: 0.3em;
    padding: 1%;
    margin-right: 0.5%;
}

.input-contatti {

    display: flex;

    text-align: left;

    font-size: 2.5vw;

    line-height: 1.125;

    font-weight: 600;

    letter-spacing: .002em;

    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

    position: relative;

    flex-direction: column;

    background-color: transparent;

    border: none;

    border-bottom: 1px solid #e6027e;

    border-left: 1px solid #e6027e;

    border-bottom-left-radius:  0.3em;

    color: #bccf05;

    margin-bottom: 2%;

}


.input-contatti:nth-child(2){
    width: 30%;
}
.input-contatti:nth-child(3){
    width: 50%;
}
.input-contatti:nth-child(4){
    width: 70%;
}
.input-contatti:last-child{
    width: 90%;
    margin-bottom: 1%;
}

@media (min-width: 1500px) {

    .h2-contatti, .input-contatti, .input-btn-contatti {

        font-size: 30px;
        
    }

    

}

.input-btn-contatti {

    border-top-right-radius:  0.3em;

    color: #bccf05;

    background: transparent;

    border: none;

    border-top: 1px solid #e6027e;

    border-right: 1px solid #e6027e;

    float: right;

    font-size: 2vw;

    line-height: 1.125;

    font-weight: 600;

    letter-spacing: .002em;

    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

}

.input-btn-contatti:active {
    transform: scale(98%);

}

