/* ----------- HEADER ----------- */

.header {

    display: block;

    position: relative;

    margin-left: auto;

    margin-right: auto;
 
    width: 100vw;

    max-height: 100vh;

    overflow: hidden;

    margin-bottom: 0.5%;

}

.img-header {

    max-width: 100%;

    WIDTH: 100VW;

    HEIGHT: 100VH;

    OBJECT-FIT: COVER;

    top: auto;

    opacity: 0;

    animation: fadeIn2 1s ease-in-out forwards;

    transition: opacity 1s;

    padding-left: 0;

    padding-right: 0;

}

.img-header-section {

    position: absolute;

    top: 40%;

    left: 5%;

    width: 50%;

    cursor: pointer;

    opacity: 0;

    animation: fadeIn1 1s ease-in-out forwards;

    transition: opacity 1s;
}

@MEDIA (MAX-WIDTH: 800PX) {

    .HEADER {

        HEIGHT: 50VH;

        margin-top: 10px;

    }

    .img-header {

        HEIGHT: 50VH;
 
    }
    
}

@keyframes fadeIn2 {

    from {

        opacity: 0;

    }

    to {

        opacity: 1;

    }

}

@keyframes fadeIn1 {

    from {

        opacity: 0;

        transform: translateX(-100%);

    }

    to {

        opacity: 1;

        transform: translateX(0);

    }

}

/* ----------- HEADER ----------- */