
  
  .section-navbar {
  
    display: flex;
  
    align-items: center;
  
    justify-content: space-around;
  
    position: fixed;
  
    width: 100%;
  
    height: 46px;
  
    z-index: 2;
  
  }
  
  .nav1-navbar {
  
    display: flex;
  
    width: 100VW;
  
    height: 100%;
  
    background-color: #0e0e0ef3;
  
    color: #ffffff;
  
    opacity: 0.75;
  
    align-items: center;
  
    justify-content: space-around;
  
    transition: background-color 0.7s ease;
  
  }
  
  .nav1-navbar.open {
  
    background-color: #161617;
  
    opacity: 1;
  
  }
  
  .ul1-navbar {
  
    list-style-type: none;
  
    padding: 0;
  
    margin: 0;
  
    display: flex;
  
    align-items: center;
  
    justify-content: center;
  
    animation: fadeIn 1s ease-in-out forwards;
  
    transition: opacity 1s;
  
  }
  
  @keyframes fadeIn {
  
    from {
  
      opacity: 0;
  
    }
  
    to {
  
      opacity: 1;
  
    }
  
  }
  
  .ul1-navbar li:last-child {
  
    display: none;
  
  }
  
  @media (max-width: 1000px) {
  
    .ul1-navbar li:last-child {
  
      display: block;
  
    }
  
  }
  
  .li1-navbar {
  
    display: inline-block;
  
    margin-right: 0;
  
    font-size: 14px;
  
    font-weight: 400;
  
    letter-spacing: -.01em;
  
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  
    line-height: 1;
  
  }
  
  .li1-navbar:nth-child(-n+2) {
  
    padding-left: 20px;
  
    padding-right: 20px;
  
  }
  
  .li1-navbar:nth-last-child(-n+3) {
  
    padding-left: 20px;
  
    padding-right: 20px;
  
  }
  
  .li1-navbar:not(:nth-child(-n+2)):not(:nth-last-child(-n+3)) .a1-navbar {
  
    padding-left: 30px;
  
    padding-right: 30px;
  
    padding-top: 15px;
  
    padding-bottom: 15px;
  
  }
  
  .li1-navbar:not(:nth-child(-n+2)):not(:nth-last-child(-n+2)) .a1-navbar:hover {
  
    color: #D3D3D3;
  
  }
  
  .li1-navbar:hover .dropdown1-nav1-navbar {
  
    display: block;
  
  }
  
  .li1-navbar:hover .dropdown2-nav1-navbar {
  
    display: block;
  
  }
  
  .li1-navbar:hover .dropdown3-nav1-navbar {
  
    display: block;
  
  }
  
  .a1-navbar {
  
    text-decoration: none;
  
    color: #ffffff;
  
  }
  
  .a1-navbar i {
  
    transition: opacity 0.7s ease;
  
  }
  
  @media (max-width: 1000px) {
  
    .li1-navbar:not(:nth-child(-n+2)):not(:nth-last-child(-n+3)) .a1-navbar {
  
      display: none;
  
    }
  
    .li1-navbar:nth-child(1) .a1-navbar i {
  
      position: absolute;
  
      left: 30px;
  
    }
  
    .li1-navbar:nth-child(2) .a1-navbar i {
  
      position: absolute;
  
      left: 90px;
  
    }
  
    .li1-navbar:nth-last-child(3) .a1-navbar i {
  
      position: absolute;
  
      left: 150px;
  
    }
  
    .li1-navbar:nth-last-child(2) .a1-navbar i {
  
      position: absolute;
  
      left: 210px;
  
    }
  
  }
  
  .menu {
  
    position: relative;
  }
  
  .menu .fa-chevron-down {
  
    vertical-align: middle;
  
  }
  
  .dropdown1-nav1-navbar {
  
    display: none;
  
    position: absolute;
  
    top: 100%;
  
    background-color: #0e0e0ef3;
  
    z-index: 1;
  
    margin-top: 10.5%;
  
    margin-left: 10%;
  
    width: 100%;
  
    padding-left: 3%;
  
    border-bottom-left-radius: 5px;
  
    border-bottom-right-radius: 5px;
  
  }
  
  .dropdown2-nav1-navbar {
  
    display: none;
  
    position: absolute;
  
    top: 100%;
  
    background-color: #0e0e0ef3;
  
    z-index: 1;
  
    margin-top: 14%;
  
    margin-left: 12%;
  
    width: 100%;
  
    padding-left: 7%;
  
    border-bottom-left-radius: 5px;
  
    border-bottom-right-radius: 5px;
  
  }
  
  .dropdown3-nav1-navbar {
  
    display: none;
  
    position: absolute;
  
    top: 100%;
  
    background-color: #0e0e0ef3;
  
    z-index: 1;
  
    margin-top: 14%;
  
    margin-left: 10%;
  
    width: 190%;
  
    border-bottom-left-radius: 5px;
  
    border-bottom-right-radius: 5px;
  
  }
  
  .dropdown1-nav1-navbar a {
  
    display: flex;
  
    text-decoration: none;
  
    color: #ffffff;
  
    padding-left: 8%;
  
    padding-right: 3%;
  
    padding-bottom: 10%;
  
    width: 100%;
  
  }
  
  .dropdown2-nav1-navbar a {
  
    display: flex;
  
    text-decoration: none;
  
    color: #ffffff;
  
    padding-left: 8%;
  
    padding-right: 3%;
  
    padding-bottom: 10%;
  
    width: 100%;
  
  }
  
  .dropdown3-nav1-navbar a {
  
    display: flex;
  
    text-decoration: none;
  
    color: #ffffff;
  
    padding-left: 8%;
  
    padding-right: 3%;
  
    padding-bottom: 10%;
  
    width: 100%;
  
  }
  
  .dropdown1-nav1-navbar a:hover {
  
    text-decoration: underline;
  
  }
  
  .dropdown2-nav1-navbar a:hover {
  
    text-decoration: underline;
  
  }
  
  .dropdown3-nav1-navbar a:hover {
  
    text-decoration: underline;
  
  }
  
  .a2-navbar {
  
    display: none;
  
  }
  
  .a2-navbar i {
  
    transition: transform 0.7s ease;
  
  }
  
  @media (max-width: 1000px) {
  
    .a2-navbar {
  
      display: block;
  
    }
  
    .a2-navbar i {
  
      position: absolute;
  
      right: 30px;
  
    }
  
  }
  
  .nav2-navbar {
  
    position: fixed;
  
    top: 44px;
  
    left: 0;
  
    width: 100%;
  
    height: 100%;
  
    background-color: #161617;
  
    display: none;
  
    padding: 0;
  
    margin: 0;
  
    opacity: 0;
  
    transition: opacity 0.7s ease;
  
    overflow-y: scroll;
  
    overflow-x: hidden;
  }
  
  .nav2-navbar.open {
  
    display: block;
  
    position: absolute;
  
    background-color: #161617;
  
    width: 100%;
  
    top: 96%;
  
    height: 100vh;
  
    opacity: 1;
  
  }
  
  .nav2-navbar:not(.open) {
  
    display: none;
  
  }
  
  @media (max-width: 1000px) {
  
    .nav2-navbar {
  
      display: none;
  
    }
  
  }
  
  .ul2-navbar {
  
    margin-top: 5px;
  
    margin-bottom: 200px;
  
    list-style-type: none;
  
    display: block;
  
    padding: 0;
  
  }
  
  .li2-navbar {
  
    margin-bottom: 10px;
  
    margin: 0;
  
    width: 100%;
  
    display: block;
  
    font-size: 28px;
  
    line-height: 1;
  
    font-weight: 600;
  
    letter-spacing: .004em;
  
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  
  }
  
  .menu-2 {
  
    position: relative;
  
    transition: margin 0.3s ease;
  
  }
  
  .menu-2.active {
  
    margin-bottom: 100px;
  
  }
  
  .menu-3.active {
  
    margin-bottom: 615px;
      
  }
  
  .menu-2.active .dropdown1-nav2-navbar {
  
    display: block;
  
  }
  
  .menu-2.active .dropdown2-nav2-navbar {
  
    display: block;
  
  }
  
  .menu-2.active .dropdown3-nav2-navbar {
  
    display: block;
  
  }
  
  .a3-navbar {
  
    position: relative;
  
    display: flex;
  
    align-items: center;
  
    text-decoration: none;
  
    color: #ffffff;
  
    width: 100%;
  
    margin-top: 10px;
  
    padding: 9px 0;
  
    margin: 0;
  
    opacity: 0;
  
    transition: opacity 0.7s ease;
  
  }
  
  .a3-navbar.show {
  
    animation: fadeIn 0.5s ease forwards;
  
  }
  
  @keyframes fadeIn {
  
    from {
  
      opacity: 0;
  
    }
  
    to {
  
      opacity: 1;
  
    }
  
  }
  
  .a3-navbar i {
  
    position: absolute;
  
    right: 30px;
  
    opacity: 0;
  
    transition: opacity 0.4s ease;
  
  }
  
  .a3-navbar span {
  
    margin-left: 30px;
  }
  
  .a3-navbar span:hover {
  
    color: #D3D3D3;
  
  }
  
  .a3-navbar:hover i {
  
    opacity: 1;
  }
  
  .dropdown1-nav2-navbar {
  
    display: none;
  
    position: absolute;
  
    top: 100%;
  
    left: 0;
  
    z-index: 1;
  
    width: 100%;
  
    margin-top: 4px;
  
    padding: 10px;
  
    transition: all 0.3s ease;
  
  }
  
  .dropdown2-nav2-navbar {
  
    display: none;
  
    position: absolute;
  
    top: 100%;
  
    left: 0;
  
    z-index: 1;
  
    width: 100%;
  
    margin-top: 4px;
  
    padding: 10px;
  
    transition: all 0.3s ease;
  
  }
  
  .dropdown3-nav2-navbar {
  
    display: none;
  
    position: absolute;
  
    top: 100%;
  
    left: 0;
  
    z-index: 1;
  
    width: 100%;
  
    margin-top: 4px;
  
    padding: 10px;
  
    transition: all 0.3s ease;
  
  }
  
  .dropdown1-nav2-navbar a {
  
    display: block;
  
    position: relative;
  
    margin-bottom: 20px;
  
    left: 50px;
  
    text-decoration: none;
  
    color: #ffffff;
  
  }
  
  .dropdown2-nav2-navbar a {
  
    display: block;
  
    position: relative;
  
    margin-bottom: 20px;
  
    left: 50px;
  
    text-decoration: none;
  
    color: #ffffff;
  
  }
  
  .dropdown3-nav2-navbar a {
  
    display: block;
  
    position: relative;
  
    margin-bottom: 20px;
  
    left: 50px;
  
    text-decoration: none;
  
    color: #ffffff;
  
  }
  
  @keyframes slideIn {
  
    from {
  
      transform: translateY(100%);
  
    }
  
    to {
  
      transform: translateY(0);
  
    }
  
  }
  
  @keyframes slideOut {
  
    from {
  
      transform: translateY(0);
  
    }
  
    to {
  
      transform: translateY(100%);
    }
  
  }