/* ----------- HEADER ----------- */
.header {

    display: block;

    position: relative;

    margin-left: auto;

    margin-right: auto;

    margin-bottom: 1%;

    max-width: 1500px;

    overflow: hidden; 
    
}

.img-header{

    max-width: 100%;

    height: auto;

    top: auto;

}

.img-header-section {

    position: absolute;

    top: 40%;

    left: 5%;

    width: 50%;

    cursor: pointer;

    opacity: 1;

    transition: opacity 0.5s;

}

@media (max-width: 600px) {

    .img-header-section {

        top: 50%;

        width: 60%;
        
    }

}

#background-image-2 {

    position: absolute;

    top: 0;

    left: 0;

    transform: translate(100%, 0); 
    
}

/* ----------- HEADER ----------- */